body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.orange-button{
    background-color: #E76F51;
    border: none;
}

.orange-button:hover{
    background-color: #c95f44;
}

.orange-button:focus{
    background-color: #8a3823;
}


.orange-border-button{
    background-color: #FFFFFF;
    border: 1px solid #E76F51;
    color: #E76F51;
}

.orange-border-button:hover{
    background-color: #E76F51;
    border: 1px solid #E76F51;  
    color: #FFFFFF;
}

h1{
    font-size: 48px;
}

.section-title{
    font-weight: 600;
}

/*****************************************************************************************************    
                                        Header Section
*****************************************************************************************************/
header{
    background-color: #264653;
}

/* ------------------------             Navigation Bar          ------------------------------------ */
.navbar-brand{
    width: 220px;
}

.navbar-nav .nav-item .nav-link{
    color: #FFFFFF;
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #E76F51;
}

.banner-text{
    color: #FFFFFF;
}

.banner-text h1{
    font-weight: 600;    
}

.banner-text small,
.banner-text p{
    font-weight: 300;
    color: #E0E0E0;
}

.banner-text small{
    font-size: 14px;
}

.banner-text p{
    font-size: 16px;
    text-align: justify;
}


/* ------------------------             Featured Bikes           ------------------------------------ */
.featured-bikes{
    margin-top: 64px;
}

.featured-bikes small{
    color: #E76F51;
    font-weight: 600;
}

.featured-bikes small::after{
    margin-right: auto;
    margin-left: auto;    
    margin-top: 5px;   
    content:"";    
    display: block;
    height: 0.5em;    
    width: 60px;        
    border-top: 1px solid #E76F51;
}

.grayscale-image{
    filter: grayscale(100%);
}


/* ------------------------             Latest News           ------------------------------------ */
.latest-news{
    margin-top: 120px;
}

.latest-news .row div h3{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
}

.latest-news .row div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    text-align: justify;
}

.latest-news .row div button{
    padding: 15px 35px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
}