body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.orange-button{
    background-color: #E76F51;
    border: none;
}

.orange-button:hover{
    background-color: #c95f44;
}

.orange-button:focus{
    background-color: #8a3823;
}


.orange-border-button{
    background-color: #FFFFFF;
    border: 1px solid #E76F51;
    color: #E76F51;
}

.orange-border-button:hover{
    background-color: #E76F51;
    border: 1px solid #E76F51;  
    color: #FFFFFF;
}

h1{
    font-size: 48px;
}

.section-title{
    font-weight: 600;
}

/*****************************************************************************************************    
                                        Header Section
*****************************************************************************************************/
header{
    background-color: #264653;
}

/* ------------------------             Navigation Bar          ------------------------------------ */
.navbar-brand{
    width: 220px;
}

.navbar-nav .nav-item .nav-link{
    color: #FFFFFF;
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #E76F51;
}

.navbar-toggler span i{
    color: #FFFFFF;  
    font-size: 24px; 
}

.banner-text{
    color: #FFFFFF;
}

.banner-text h1{
    font-weight: 600;    
}

.banner-text small,
.banner-text p{
    font-weight: 300;
    color: #E0E0E0;
}

.banner-text small{
    font-size: 14px;
}

.banner-text p{
    font-size: 16px;
    text-align: justify;
}


/* ------------------------             Featured Bikes           ------------------------------------ */
.featured-bikes{
    margin-top: 64px;
}

.featured-bikes small{
    color: #E76F51;
    font-weight: 600;
}

.featured-bikes small::after{
    margin-right: auto;
    margin-left: auto;    
    margin-top: 5px;   
    content:"";    
    display: block;
    height: 0.5em;    
    width: 60px;        
    border-top: 1px solid #E76F51;
}

.grayscale-image{
    filter: grayscale(100%);
}


/* ------------------------             Latest News           ------------------------------------ */
.latest-news{
    margin-top: 120px;
}

.latest-news .row .col .card{
    border: 1px solid #e9e9e9;    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;  
    padding: 20px;  
}

.latest-news .row .col .card .card-body h3{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 600;
}

.latest-news .row .col .card p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    text-align: justify;
}

.latest-news .row .col .card .card-footer button{
    padding: 15px 35px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 18px;
}




/* ------------------------                Client Review            ------------------------------------ */
.client-review{
    margin-top: 140px;
    margin-bottom: 30px;
}

.client-review h1{
    margin-bottom: 50px;
}

.client-review h1 span{
    color: #E76F51;   
}


.client-review .card{
    border-radius: 5px;    
}

.client-review .card .card-body p{
    text-align: center;
    color: #6C6C6C;
}

.client-review .card .card-footer .rating{
    color:#E77C40;
}

.client-review .card .card-footer p{
    font-size: 14px;   
    font-weight: 600;
}

.client-review .card .card-footer .name{
    color: #23A6F0;
}

.client-review .card .card-footer .job{
    color:#252B42;
}






/* ------------------------              Frequently Asked Questions         ------------------------------------ */
.faqs{
    margin-top: 100px;
}

.faqs .section-title{
    margin-bottom: 60px;
}

.faqs .section-title span{
    color: #E76F51;
}

.accordion-item{
    border: 1px solid #D5E5FB!important;
    margin-bottom: 12px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.accordion-item .accordion-header button{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #383838;
}


.accordion-item .accordion-body p{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: #7E848C;
    text-align: justify;    
}


/* ------------------------              Gallery         ------------------------------------ */
.gallery{
    margin-top: 100px;
}

.gallery .section-title span{
    color: #E76F51;
}

.gallery .row .gallery-item{    
    position: relative;
    padding: 8px;    
}

.gallery .row .gallery-item .gallery-card{
    position: relative;
}

.gallery .row .gallery-item .image-details{    
    position:absolute;
    opacity: 0;   
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;       
    height: 80%;
    width: 100%;    
    text-align: center;
    color: white;             
    background-color: rgba(0, 0, 0, 0.5);    
    transition: all 0.5s ease; 
}

.gallery .row .gallery-item img{
    border-radius: 5px;
    transition: all 0.4s ease;
}

.gallery .row .gallery-item:hover .image-details{
    transform: scale(1.05);
    opacity: 1;
    cursor: pointer;
}

.gallery .row .gallery-item:hover img{
    transform: scale(1.05);
    filter: grayscale(60%);
}




/* ------------------------              Contact Us         ------------------------------------ */
.contact-us{
    margin-top: 120px;
}

.contact-us .section-title span{
    color: #E76F51;
}

.contact-us h3{
    font-size: 30px;
    font-weight: 600;
}

.contact-us .address p{
    color: #383838;
    font-weight: 500;
}

.contact-us .address p i{
    font-size: 18px;
    width: 20px;
    margin-right: 10px;
    color: #E76F51;
}





/*****************************************************************************************************    
                                        Footer Section
*****************************************************************************************************/
footer{
    background-color: #0B0D17;
    padding-top: 56px;
    padding-bottom: 96px;
    margin-top: 100px;
}

footer .links a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 24px;
    transition: all 0.2s ease;
}

footer .links a:hover{
    color: #E76F51;
}

footer .copyright p{
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
}

.download-app h6{
    font-weight: 500;
    font-size: 18px;
    color: #D9DBE1!important;
}

.download-app-link{
    width: 150px;
}